{{import_globals}}
<div class="glossary__index-item" role="listitem">
  <a href="#{{_key}}" class="base glossary__index-link" aria-label="{{_globals._extensions._glossary.labelLink}} {{_key}}">{{_key}}</a>
</div>
